@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
:root {
	--main: #FB4D3D;
	--maindark: #E23424;

	--secondary: #03CEA4;
	--secondarydark: #00B58B;

	--defaultcolor1: #EAC435;
	--defaultcolor2: #345995;
	--defaultcolor3: #03CEA4;
	--defaultcolor4: #FB4D3D;
	--defaultcolor5: #CA1551;

	--dark: #2c3840;
	--darkdark: #00050D;

	--light: #feffff;
	--lightdark: #CBCCCC;
	
	--highlight: #ffe29d;
	--highlightdark: #ffcb51;

	--info: #D8EDF7;
	
	--danger: #F3DDDE;
}

/*uncomment this line for debugging*/
/** { outline: solid 0.25rem black; }*/

body {
	overflow-x: hidden;
	font-family: 'Lato', sans-serif;
	color: var(--dark);
}

#content {
	padding-top: 4rem;
}

.offset:before {
	display: block;
	content: "";
	height: 4rem;
	margin-top: -4rem;
}

[class*="col-"] {
	padding: 1rem;
}

/*-- navigation --*/
.navbar {
	background-color: black;
	padding: .7rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	transition: background-color .5s ease 0s;
}
.navbar-brand {
	color: var(--light);
}
.svg-inline--fa.fa-w-14 {
	color: var(--light);
	font-size: 1.6rem;
}
.navbar-nav li {
	padding-right: .8rem;
}
.navbar-nav .nav-link {
	color: var(--light);
	padding-top: .8rem;
}
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover {
	color: var(--secondary);
}
.navbar-brand:hover {
	color: var(--main);
}
.navbar.solid {
	background: rgba(0, 0, 0, 0.7)!important;
	transition: background-color 1s ease 0s;
}
/*-- end navigation --*/

/*-- app container, index --*/
#welcome {
	padding-top: 4rem;
}
#welcome a {
	color: var(--main);
	text-decoration: none;
}
#welcome a:active,
#welcome a:hover,
#welcome a:focus {
	color: var(--maindark);
}

.narrow {
	width: 75%;
	margin: 0 auto;
}
.apps-container h1 {
	padding: 2rem 0;
}
.app-item {
	transition: transform .4s ease;
}
.card {
	margin: 1rem;
}
.app-item:hover {
	transform: scale(1.05);
}
.app-item a:not([id^=readMoreButton]) {
	background-color: var(--main);
	border-color: var(--main);
	border-radius: 0;
	margin: 0.5rem 0;
}
.app-item a:active:not([id^=readMoreButton]),
.app-item a:hover:not([id^=readMoreButton]),
.app-item a:focus:not([id^=readMoreButton]) {
	border-color: var(--maindark)!important;
	background-color: var(--maindark)!important;
}
.card-columns {
	@include media-breakpoint-only(md) {
		column-count: 1;
	}
	@include media-breakpoint-only(sm) {
		column-count: 1;
	}
	@include media-breakpoint-only(lg) {
		column-count: 3;
	}
	@include media-breakpoint-only(xl) {
		column-count: 4;
	}
}
.card-img-top {
	max-height: 1000px;
	width: 100%;
	overflow: hidden;
	object-fit: cover;
	display: block;
	margin: 0 auto;
}
[id^=more] {
	display: none;
}
.fa-sort-down {
	margin: 0 0.25rem;
	position: relative;
	top: -0.12rem;
}
.last-p {
	margin-bottom: 0;
}
[id*=readmore] {
	background: transparent;
	background-color: transparent;
	color: var(--main);
}
[id*=readMoreButton] {
	margin: 0;
	padding: 0;
}
/*-- end app container, index--*/

/*-- about section --*/
#title {
	margin-top: 6rem;
}
#title h1 {
	font-size: 4rem;
}
.section {
	margin-bottom: 4rem;
}
/*-- end about section --*/